<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42814240371-5sc658ab1oc8v6a1q663jdr94akvm1tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42814240371-5sc658ab1oc8v6a1q663jdr94akvm1tn</string>
	<key>API_KEY</key>
	<string>AIzaSyClCNTim0thWgIyu2V72GfwNascGdwhgXo</string>
	<key>GCM_SENDER_ID</key>
	<string>42814240371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskdo</string>
	<key>PROJECT_ID</key>
	<string>task-do-f34b2</string>
	<key>STORAGE_BUCKET</key>
	<string>task-do-f34b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42814240371:ios:fc40e4a375e90177c7dc06</string>
</dict>
</plist>